
.vs/PJATK_Box2D_vs2013/FileContentIndex/bab372e6-4ca3-4f76-91bf-817d3705cc7d.vsidx
.vs/PJATK_Box2D_vs2013/FileContentIndex/ff240dce-b50e-4e2e-a97d-cae6c5dd37e3.vsidx
.vs/PJATK_Box2D_vs2013/v17/.suo
.vs/PJATK_Box2D_vs2013/v17/Browse.VC.db
.vs/PJATK_Box2D_vs2013/v17/Browse.VC.db-shm
.vs/PJATK_Box2D_vs2013/v17/Browse.VC.db-wal
.vs/PJATK_Box2D_vs2013/v17/Browse.VC.opendb
.vs/PJATK_Box2D_vs2013/v17/DocumentLayout.json
.vs/PJATK_Box2D_vs2013/v17/ipch/AutoPCH/ab0aae4b4e19a6da/WINDOW.ipch
.vs/PJATK_Box2D_vs2013/v17/Solution.VC.db
